.container__content {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;

  margin-top: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.content__title{
  > h1 {
    text-align: center;
  }
}

.content__cover {

  > img {
    border: 5px solid rgb(144, 144, 144);
    width: 500px;
    min-width: 500px;
    height: 300px;
    border-radius: 6px;
  }

  > a {
    margin-top: 20px;
    margin-bottom : 20px;

    display: block;
    text-align: center;
  }
}

.content__description{
  margin-top: 40px;
  > p {
    color: rgb(189, 189, 189);
    text-indent: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
}
