<div class="container__menu-bar">
  <ul>
    <li>
      <a href="www.linkedin.com/in/danielnevesfonseca" target="_blank">
        <img src="../../../assets/icons/linkedin_icon.svg" alt="Linkedin icon">
      </a>
    </li>
    <span>•</span>
    <li>
      <a href="https://github.com/DanielNevesFonseca" target="_blank">
        <img src="../../../assets/icons/github_icon.svg" alt="Github icon">
      </a>
    </li>
    <span>•</span>
    <li>
      <a href="#" target="_blank">
        <img src="../../../assets/icons/discord_icon.svg" alt="Discord icon">
      </a>
    </li>
    <span>•</span>
    <li>
      <a href="https://t.me/DanielDeveloper" target="_blank">
        <img src="../../../assets/icons/telegram_icon.svg" alt="Telegram icon">
      </a>
    </li>
    <span>•</span>
    <li>
      <a href="https://api.whatsapp.com/send?phone=5532999691769&text=Ol%C3%A1!%20Quero%20falar%20com%20o%20Daniel%20Dev."
        target="_blank">
        <img src="../../../assets/icons/whatsapp_icon.svg" alt="Whatsapp icon">
      </a>
    </li>
  </ul>
</div>